/* Estilo para la navegación por pestañas */
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav li {
    margin-right: 20px;
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.nav li a:hover {
    background-color: #f0f0f0;
}

/* Estilo para el contenido de cada página */
.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
