<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenido a la Página Principal</h1>

    <!-- Navegación por pestañas -->
    <ul class="nav">
        <li><a href="{{ url_for('upload_file') }}">Cargar Archivo</a></li>
        <li><a href="{{ url_for('process_file', filename='example.csv') }}">Ver Estadísticas</a></li>
        <li><a href="{{ url_for('show_graph', filename='example.csv') }}">Ver Gráfico</a></li>
    </ul>

    <!-- Contenido dinámico para cada sección -->
    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
