{% extends 'index.html' %}

{% block content %}
    <h2>Estadísticas del Archivo: {{ filename }}</h2>

    {% if shape_info %}
        <h3>Información del DataFrame:</h3>
        <p>El DataFrame tiene {{ shape_info.0 }} filas y {{ shape_info.1 }} columnas.</p>
    {% endif %}

    {% if info %}
        <h3>Información Adicional:</h3>
        <pre>{{ info }}</pre>
    {% endif %}

    {% if describe_info %}
        <h3>Descripción del DataFrame:</h3>
        <!-- Aquí usaremos una tabla para mostrar el resultado del describe -->
        <table border="1">
            {{ describe_info|safe }}
        </table>
    {% endif %}

    {% if null_counts %}
        <h3>Valores Nulos en cada columna:</h3>
        <pre>{{ null_counts }}</pre>
    {% endif %}

    {% if missing_counts %}
        <h3>Valores Faltantes en cada columna:</h3>
        <pre>{{ missing_counts }}</pre>
    {% endif %}
{% endblock %}
